* {
    font-family: 'Inter' !important;
}
body {
    background-color: azure;
    margin: 0;
}
.wrapper {
    margin: 100px;
    text-align: center;
}
.container {
    display: none;
}
.section1 {
    width: 300px;   
    margin: 0 auto;
    text-align: left;
}
li {
    margin-bottom: 5px;
}

li:hover {
    font-weight: 700;
}

li button {
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
}
#renderItems, #renderItems:focus {
    background-color: rgb(52, 110, 235);
    border: none;
    padding: 18px 22px;
    margin-top: 15px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
}
#renderItems:hover {
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(52, 110, 235, 0.4);
}
#listWrapper:hover .container{
    display: inline;
}