body {
    margin: 0;
}

header {
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-family: 'Lakki Reddy';
    color: #FF7676;
    margin: 0;
    font-size: 60px;
}

header button {
    font-family: 'Comic Sans MS';
    font-weight: 500;
    font-size: 20px;
    background-color: #FF7676;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 6px;
    padding: 6px 16px;
    box-shadow: 0 3px #A84E4E;
    cursor: pointer;
}

header button:hover {
    background-color: #ff7676c4;
}

.animals {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.animal {
    padding: 14px 28px;
    border-radius: 6px;
    font-size: 24px;
}

.animal:hover {
    cursor: pointer;
    opacity: 70%;
}

.dog {
    background-color: #DFFFBF;
    border: 3px solid #BBFF76;
}

.chicken {
    background-color: #DFBFFF;
    border: 3px solid #BB76FF;
}

.turtle {
    background-color: #BFFFFF;
    border: 3px solid #76FFFF;
}

.container {
    display: grid;
    /* justify-content: left; */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    min-width: 910px;
    width: fit-content;
    min-height: 300px;
    margin: 30px auto 50px auto;
    border: 2px dashed #FF7676;
    stroke-dasharray: 20;
    border-radius: 16px;
    padding: 16px;
}

.animalCard {
    border-radius: 6px;
    width: 140px;
    height: 140px;
    padding: 10px;
    text-align: center;
    display: grid;
}

.animalCard h3,
h4,
h5 {
    margin: 0;
}

.animalCard:hover {
    box-shadow: 0 4px 15px #9b9b9b25;
}

.animalCard button {
    cursor: pointer;
}

.treatPlayButtons {
    margin-top: 6px;
}